<%= form_with model: @user, local: true do |form| %>
  <div class="avatar-img">
    <img src="<%= @user.avatar_url if @user.avatar? %>" id='avatar' style="width: 400px;">
  </div>
  <div class="columns" style="margin-top: 5px;">
    <div class="column is-1">
      <div class="avatar-upload">
        <label for="file-input">
          <span class="button">Upload avatar</span>
        </label>
        <%= form.file_field :avatar, class: 'button', id: 'file-input', onchange: "onFileSelected(event)" %>
      </div>
    </div>
    <div class="column is-1" style="margin-left: 40px;">
      <div class="avatar-delete">
        <label for="avatar-delete-button">
          <span class="button">Delete avatar</span>
        </label>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-4">
      <div class="field">
        <%= form.label :nickname, class: 'label' %>
        <%= form.text_field :nickname, class: 'input' %>
      </div>
      <div class="field">
        <%= form.label :first_name, class: 'label' %>
        <%= form.text_field :first_name, class: 'input' %>
      </div>
      <div class="field">
        <%= form.label :last_name, class: 'label' %>
        <%= form.text_field :last_name, class: 'input' %>
      </div>
      <%= form.submit 'Save changes', class: 'button', style: "margin-top: 10px;" %>
    </div>
  </div>
<% end %>

<%= button_to 'Delete avatar', avatar_destroy_user_path(@user), method: :delete, id: 'avatar-delete-button', class: 'delete-button', data: { confirm: "Are you sure?" } %>

<script>
  function onFileSelected(event) {
    var selectedFile = event.target.files[0];
    var reader = new FileReader();

    var avatar = document.getElementById('avatar');
    avatar.title = selectedFile.name;

    reader.onload = function(event) {
      avatar.src = event.target.result;
      avatar.style.width = '400px'
    };

    reader.readAsDataURL(selectedFile);
  }
</script>
