<div class='columns' style="margin-top: -25px;">
  <div class='column is-9'>
    <span class="subtitle is-2">My Boards</span>
    <a class='button new_board_button' href= <%= new_board_path%>>
      <%= image_tag 'icon-plus.svg', class: 'inline-icon'%>
      Create new board
    </a>
    <% @boards_by_date.each_with_index do |arr, index| %>
      <% month, records = arr%>
      <div class='board-date <%= 'animated-board' if index > 2%>' style="margin-top: 20px;">
        <%= month%>
      </div>
      <div class="columns is-3 is-variable is-multiline <%= 'animated-board' if index > 2%>">
        <% records.each do |board|%>
          <%= render 'board_card', board: board %>
        <% end%>
      </div>
    <% end %>
    <% if @boards_by_date.length > 3%>
      <div class='load-more-boards-container'>
        <%= image_tag 'chevron-down.svg', class: 'load-more-boards-button'%>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'boards_index_animation'%>
