<% content_for :scripts do %>
  <%= javascript_pack_tag 'application' %>
  <%= stylesheet_pack_tag 'application' %>
  <% if allowed_to?(:create_cards?, @board) %>
    <%= javascript_pack_tag 'ready-button' %>
  <% end %>

<% end %>

<div class='header'>
  <div class="header__wrapper">
    <div class="header-left">
      <div>
        <%= link_to 'â† back to boards', my_boards_path, class: 'header-left__link header-left__item'%>
      </div>
      <div class='header-left__item'> < </div>
      <h1 class='header-left__board-title header-left__item'>
        <%= @board.title %>
      </h1>
      <div class='header-left__settings header-left__item'>
        <%if allowed_to?(:edit?, @board)%>
          <%= link_to image_tag("setting.svg", :border=>0), edit_board_path(@board) %>
        <%end%>
      </div>
    </div>


    <div class="header-middle">
    <%= react_component('membership-list-container')%>
    </div>

    <div class='header-right'>
      <% if !current_user %>
        <%= link_to 'Sign in with Alfred', user_alfred_omniauth_authorize_path, class: 'button' %>
        <%= link_to 'Sign in with Google', user_google_omniauth_authorize_path, class: 'button' %>
        <%= link_to 'Sign in with Facebook', user_facebook_omniauth_authorize_path, class: 'button' %>
      <% elsif allowed_to?(:create_cards?, @board) %>
        <div id='ready-button'></div>
      <% end %>
    </div>
  </div>
</div>

<%= react_component('card-table', {
  actionItems: @action_items,
  board: @board,
  cardsByType: @cards_by_type,
  creators: @board_creators,
  initPrevItems: @previous_action_items || [],
  user: current_user,
  users: @users
})
%>
